#subheader {
/*  @include single-box-shadow(darken($c_green, 10), 0, 0, 15px, 0, true);
*/  // background: image-url('store/subheader-bg.png') repeat center;
/*  background-color: lighten(#8dba53, 5);*/
  color: white;
  border-top: 5px solid lighten(#8dba53, 40);
  border-bottom: 5px solid lighten(#8dba53, 40);
  overflow: hidden;
/*  box-shadow: inset 0px 3px 10px 0px black;
  background: -moz-linear-gradient(top,  #8dba53, #8dba53);
*/  background-color: #8dba53;

  
  .subheader-wrapper {
    padding: 20px 10px;
    color: white;
    overflow: hidden;

    h1 {
      clear: both;
      color: white;
      font-size: 34px;
      font-weight: 300;
    }
  }
}

.slider-pager {
  position: absolute;
  width: 100%;
  top: -40px;
}

.slider-pager, .bx-wrapper {
  .bx-pager.bx-default-pager {
    a {
      background-color: #dedede;

      &.active, &:hover {
        background-color: #8dba53;
      }
    }  
  }
}

.bx-wrapper {
  margin-bottom: 0;

  .bx-viewport {
/*    @include box-shadow(none);
  */  background-color: transparent;
    border: none;
  }
  .bx-controls {
    position: absolute;
    width: 100%;
    bottom: -20px;
  } 
}

#latest-products, #featured-products {
  .bx-wrapper .bx-pager {
    bottom: -35px;
  }
}

.carousel {
  list-style: none;

  li {
    text-align: center;
    width: 225px !important;

    .product-image {
      a {
        float: none;
        margin: 0 auto;
      }  
    }

    .product-name {
      display: block;
      font-size: 16px;
      margin-top: 20px;
    }

    .product-sku {
      margin-top: 5px;
    }
  }
}

.product-image {
  a {
/*    @include border-radius(45px);
    @include transition-duration(0.3s);
  */  float: left;
    display: block;
    position: relative;
    display: block;
    background-color: white;
    border: 5px solid lighten(#8dba53, 15);
    padding: 20px;
    overflow: hidden;

    img {
/*      @include border-radius(25px);
  */  }
  }
}

#home-slider {
  h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
  }

  ul {
    list-style: none;

    li {
      font-size: 16px;
      line-height: 24px;

      .product-title {
        color: white;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      .product-price {
        font-size: 48px;
        font-weight: 600;
        margin-right: 25px;
      }

      .product-info {
        float: left;
        overflow: hidden;
        width: 65%;

        .product-order-form {
          margin-top: 25px;
        }
      }

      .product-image {
        overflow: auto;
        float: left;
        width: 35%;
        margin-top: 40px;
      }

      input[type="number"] {
        margin-right: 25px;
        width: 50px;
      }

      button, input[type="number"] {
        background-color: white;
        color: #ff9600;
        border-color: darken(#8dba53, 5);
        font-size: 16px;
        vertical-align: text-bottom;

        &:hover {
          color: darken(#ff9600, 5) !important;
        }

        i {
          color: #50A2F3;
        }
      }
    }
  }
}
