body {
  border-top: 0px solid #50A2F3;  
  padding-top: 0px;
  line-height: 24px;
}

.page-wrapper {
  margin-top:0px;
  float: right;
  width: 100%;
/*  @include transition-duration(0.2s);
*/}

.hidden { display: none }

#logo {
  margin-top: 10px;  
}

#welcome-message {
  text-align: center;
  margin-top: 20px;

  h1 {
    font-weight: 400;
    color: #919191;

    a {
      color: #ff9600;

      &:hover {
        color: #8dba53 !important;
      }
    }
  }  
}

#latest-products {
  h3 { color: #ff9600 }
  hr { border-bottom-color: lighten(#ff9600, 40) }

  .product-image a { border-color: lighten(#ff9600, 40) }
  .product-name { color: #ff9600 !important; }

  .bx-pager.bx-default-pager a.active, 
  .bx-pager.bx-default-pager a:hover {
    background-color: #ff9600 !important; 
  }
}

#featured-products {
  h3 { color: #50A2F3 }
  hr { border-bottom-color: lighten(#50A2F3, 30) }

  .product-image a { border-color: lighten(#50A2F3, 30) }

  .bx-pager.bx-default-pager a.active, 
  .bx-pager.bx-default-pager a:hover {
    background-color: #50A2F3 !important; 
  }
}

#latest-products, #featured-products {
  margin: 40px 0 ;
  text-align: center;

  .bx-wrapper {
    margin-top: 40px;

    .bx-controls {
      bottom: inherit;
      top: -35px;
    }  
  }

  h3 {
    text-align: center;
    font-weight: 400;
    display: inline-block;
    padding: 0 20px;
    width: auto;
    background-color: white;
    border: none;
    position: relative;
    z-index: 1;
  }

  hr {
    position: relative;
    z-index: 0;
    margin-top: -15px;
    border-bottom-width: 2px;
  }

  ul {
    margin-top: 30px;  
  }
  .product-image {
    a {
/*      @include border-radius(165px);
  */    border-width: 2px;
      width: 160px;
      height: 160px;
    }

    img {
    /*  @include border-radius(45px);
      */width: 160px;
      height: 160px;  
    }  
  }
}

#sidebar {
  margin-bottom: 30px;  
}

ul#products li {
  margin-bottom: 50px;

  a.info {
    height: inherit;
    font-weight: 400;
    color: #8dba53;
  }
/*
  .price {
    font-size: 24px;  
  }
*/
  .product-image {
    border: none;
    min-height: 155px;
    padding: 0;

    a {
      border-color: lighten(#50A2F3, 30);
      border-width: 2px;
      padding: 30px 22px 30px 20px;
      float: none;

      img {
       border-radius: 25px;
        width: 150px;
        height: 150px;
      }    
    }
  }
}

#wrapper {
  margin-top: 30px;  
}


#sidebar_products_search {
  .filter-title {
    color: #50A2F3;  
    border-color: lighten(#50A2F3, 30);
  }

  .filter_choices {
    font-size: 14px;  
    list-style: none;
  }
}


.taxons-list {
  margin-bottom: 40px;  
}

footer#footer {
/*  @include single-box-shadow(darken(#50A2F3, 10), 0, 0, 15px, 0, true);
  */// background: image-url("store/footer-bg.png") repeat center;
  background-color: lighten(#50A2F3, 5);
  margin-top: 30px;
  border-top: 5px solid lighten(#50A2F3, 30);
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;

  &, a, h5 {
    color: white;  
  }

  a:hover {
    color: lighten(#8dba53, 30) !important;  
  }

  h5 {
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 23px;
    font-size: 17px;
  }

  p {
    padding-top: 0;  
  }

  ul {
    list-style: none;

    li {
      
    }
  }
}